@font-face {
    font-family: 'RNS';
    src: url('RNSSanz-Normal.woff2') format('woff2'),
        url('RNSSanz-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

