@font-face {
    font-family: 'OCR-B';
    src: url('OCRB10PitchBT-Regular.woff2') format('woff2'),
        url('OCRB10PitchBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

